.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
  padding: 1em;
  margin-top: 4em;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px,
    rgba(0, 0, 0, 0.23) 0px 6px 10px;
  background: #def2d5;
  transition: all 0.3s ease;
}

.Business:hover {
  transform: scale(1.1);
}

.Business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}

.Business h2 {
  color: #141214;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  justify-content: space-between;
}

.Business-information p {
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-information a {
  color: #333;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #60988d;
  font-weight: 600;
}

.Business-reviews .rating {
  font-size: 0.88rem;
  line-height: 1rem;
}
