/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

body {
background: url('images/cool-background.png');
background-attachment: fixed;
background-size: cover;
overflow-x: hidden;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}


.App {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 2.8rem;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  padding: .66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
